@media (min-width: 1024px)and (max-width: 1140px) {
    .hero-part2-text {
        max-width: 38%;
    }

    .hero-logo {
        margin: 0px;
        font-size: 50px;
    }
    .hero-part2-text {
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
    }

    .hero-description {
        max-width: 370px;
        margin: 0px 0px;
        padding: 0px;
        margin-bottom: 30px;
    }

    .hero-button {
        margin: 0px;
        padding: 0px;
    }

}