@media (min-width: 375px)and (max-width: 1024px) {
    .header-hamburger {
        display: flex;
    }

    .header-description,
    .header-button,
    .hero-image1,
    .hero-description,
    .hero-button,
    .banner-section,
    .hero-part2-text {
        display: none;
    }

    .header-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30%;
    }

    .hero-logo-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        margin-top: 39px;
        left: 88.78px;
        font-family: Jost;
        font-weight: 500;
        font-style: Medium;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
    }

    .hero-description-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 42px;
        margin-top: 19px;
        left: 16.78px;
        font-family: Jost;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0px;
        text-align: center;
    }



    .hero-button-mobile {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        height: 35px;
        padding-top: 0.5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-button-mobile img {
        width: 28px;
    }

    .product-imagebox {
        grid-template-columns: repeat(2, 1fr);
    }

    .modal-wrapper {
        top: 50%;
        left: 15%;
    }

    .hero-part2 {
        width: 100%;
        max-width: 100%;
        position: relative;
        height: 315px;
        margin-bottom: 20px;
    }

    .hero-part2-image {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 315px;
    }

    .hero-part2-image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .hero-button-mobile {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    .hero-button-mobile img {
        width: 40px;
        height: 20px;
    }

    .product-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}