.header-hamburger img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
 
.hamburger {
  width: 18px;
  height: 20px;
  opacity: 1;
  margin: 0px;
  padding: 0px;
  display: none;
}

.hamburger img {
  width: 18px;
  height: 20px;
}
